
# ignore everything
#/*

# add only these files
#!.profile
#!.bashrc
#!.gitignore

.emacs.d/.*
.emacs.d/*.dat
.emacs.d/elpa/
.emacs.d/auto*
.emacs.d/projectile-*
.emacs.d/backups/
!/.emacs.d/init.d
!/.emacs.d/init/*

.adobe
aptana
*history
.cabal
.cache
.codeintel
.compiz
.config
.dbus
Desktop
Documents
Downloads
.dropbox*
Dropbox
.ecrypt*
*.bak
examples*
*Bruno
*old
*errors
temp*
Pictures
.Private
repos
.swt
.ICE*
.private
.Xauth*
.macro*
.mozilla
.nv
.pip
.smex*
.ipython
.gnome
.gnupg
.gstream*
.ido*
.lambda*
.pki
.local
.remmina
.gconf
.freerdp
.ghc/*
!.ghc/*conf
